.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(165, 165, 165);
    }

    100% {
        background-color: rgb(221, 221, 221);
    }
}

.skeleton-header {
    width: 80px;
    height: 30px;
    border-radius: 7px;
}
